[Unit]
Requires=roscore.service
PartOf=roscore.service
After=NetworkManager.service time-sync.target roscore.service
[Service]
Type=simple
User=root
ExecStart=/usr/sbin/umnitsa-base
[Install]
WantedBy=multi-user.target
